*{
  margin: 0 auto;
}

header{
  background-color:hsla(0,50%,50%,0.7);
  padding: 1em;
  text-align: center;


}
div{
  background-color:whitesmoke;
  padding: 1em;
  height: 45vh;
}
footer{
  background-color:hsl(360,50%,50%);
  padding: 1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
}

img{
  width: 20%;
  height: auto;
  border-radius: 50%;
  float: left;
  padding: 1em;
}

.clearfix{
  clear: both;
}
